div.code pre .hll { background-color: #ffffcc }
div.code pre  { background: #ffffff; }
div.code pre .c { color: #666666; font-style: italic } /* Comment */
div.code pre .err { color: #FF0000; background-color: #FFAAAA } /* Error */
div.code pre .k { color: #228899; font-weight: bold } /* Keyword */
div.code pre .o { color: #333333 } /* Operator */
div.code pre .cm { color: #666666; font-style: italic } /* Comment.Multiline */
div.code pre .cp { color: #557799 } /* Comment.Preproc */
div.code pre .c1 { color: #666666; font-style: italic } /* Comment.Single */
div.code pre .cs { color: #cc0000; font-weight: bold; font-style: italic } /* Comment.Special */
div.code pre .gd { color: #A00000 } /* Generic.Deleted */
div.code pre .ge { font-style: italic } /* Generic.Emph */
div.code pre .gr { color: #FF0000 } /* Generic.Error */
div.code pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
div.code pre .gi { color: #00A000 } /* Generic.Inserted */
div.code pre .go { color: #888888 } /* Generic.Output */
div.code pre .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
div.code pre .gs { font-weight: bold } /* Generic.Strong */
div.code pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
div.code pre .gt { color: #0044DD } /* Generic.Traceback */
div.code pre .kc { color: #228899; font-weight: bold } /* Keyword.Constant */
div.code pre .kd { color: #228899; font-weight: bold } /* Keyword.Declaration */
div.code pre .kn { color: #228899; font-weight: bold } /* Keyword.Namespace */
div.code pre .kp { color: #0088ff; font-weight: bold } /* Keyword.Pseudo */
div.code pre .kr { color: #228899; font-weight: bold } /* Keyword.Reserved */
div.code pre .kt { color: #6666ff; font-weight: bold } /* Keyword.Type */
div.code pre .m { color: #6600EE; font-weight: bold } /* Literal.Number */
div.code pre .s { background-color: #e0e0ff } /* Literal.String */
div.code pre .na { color: #000077 } /* Name.Attribute */
div.code pre .nb { color: #007722 } /* Name.Builtin */
div.code pre .nc { color: #ee99ee; font-weight: bold } /* Name.Class */
div.code pre .no { color: #55eedd; font-weight: bold } /* Name.Constant */
div.code pre .nd { color: #555555; font-weight: bold } /* Name.Decorator */
div.code pre .ni { color: #880000 } /* Name.Entity */
div.code pre .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
div.code pre .nf { color: #55eedd; font-weight: bold } /* Name.Function */
div.code pre .nl { color: #997700; font-weight: bold } /* Name.Label */
div.code pre .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
div.code pre .nt { color: #007700 } /* Name.Tag */
div.code pre .nv { color: #003366 } /* Name.Variable */
div.code pre .ow { color: #000000; font-weight: bold } /* Operator.Word */
div.code pre .w { color: #bbbbbb } /* Text.Whitespace */
div.code pre .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
div.code pre .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
div.code pre .mi { color: #6666ff; font-weight: bold } /* Literal.Number.Integer */
div.code pre .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
div.code pre .sb { background-color: #e0e0ff } /* Literal.String.Backtick */
div.code pre .sc { color: #8888FF } /* Literal.String.Char */
div.code pre .sd { color: #DD4422 } /* Literal.String.Doc */
div.code pre .s2 { background-color: #e0e0ff } /* Literal.String.Double */
div.code pre .se { color: #666666; font-weight: bold; background-color: #e0e0ff } /* Literal.String.Escape */
div.code pre .sh { background-color: #e0e0ff } /* Literal.String.Heredoc */
div.code pre .si { background-color: #eeeeee } /* Literal.String.Interpol */
div.code pre .sx { color: #ff8888; background-color: #e0e0ff } /* Literal.String.Other */
div.code pre .sr { color: #000000; background-color: #e0e0ff } /* Literal.String.Regex */
div.code pre .s1 { background-color: #e0e0ff } /* Literal.String.Single */
div.code pre .ss { color: #ffcc88 } /* Literal.String.Symbol */
div.code pre .bp { color: #007722 } /* Name.Builtin.Pseudo */
div.code pre .vc { color: #ccccff } /* Name.Variable.Class */
div.code pre .vg { color: #ff8844 } /* Name.Variable.Global */
div.code pre .vi { color: #aaaaff } /* Name.Variable.Instance */
div.code pre .il { color: #6666ff; font-weight: bold } /* Literal.Number.Integer.Long */

table.code td .hll { background-color: #ffffcc }
table.code td  { background: #ffffff; }
table.code td .c { color: #666666; font-style: italic } /* Comment */
table.code td .err { color: #FF0000; background-color: #FFAAAA } /* Error */
table.code td .k { color: #228899; font-weight: bold } /* Keyword */
table.code td .o { color: #333333 } /* Operator */
table.code td .cm { color: #666666; font-style: italic } /* Comment.Multiline */
table.code td .cp { color: #557799 } /* Comment.Preproc */
table.code td .c1 { color: #666666; font-style: italic } /* Comment.Single */
table.code td .cs { color: #cc0000; font-weight: bold; font-style: italic } /* Comment.Special */
table.code td .gd { color: #A00000 } /* Generic.Deleted */
table.code td .ge { font-style: italic } /* Generic.Emph */
table.code td .gr { color: #FF0000 } /* Generic.Error */
table.code td .gh { color: #000080; font-weight: bold } /* Generic.Heading */
table.code td .gi { color: #00A000 } /* Generic.Inserted */
table.code td .go { color: #888888 } /* Generic.Output */
table.code td .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
table.code td .gs { font-weight: bold } /* Generic.Strong */
table.code td .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
table.code td .gt { color: #0044DD } /* Generic.Traceback */
table.code td .kc { color: #228899; font-weight: bold } /* Keyword.Constant */
table.code td .kd { color: #228899; font-weight: bold } /* Keyword.Declaration */
table.code td .kn { color: #228899; font-weight: bold } /* Keyword.Namespace */
table.code td .kp { color: #0088ff; font-weight: bold } /* Keyword.Pseudo */
table.code td .kr { color: #228899; font-weight: bold } /* Keyword.Reserved */
table.code td .kt { color: #6666ff; font-weight: bold } /* Keyword.Type */
table.code td .m { color: #6600EE; font-weight: bold } /* Literal.Number */
table.code td .s { background-color: #e0e0ff } /* Literal.String */
table.code td .na { color: #000077 } /* Name.Attribute */
table.code td .nb { color: #007722 } /* Name.Builtin */
table.code td .nc { color: #ee99ee; font-weight: bold } /* Name.Class */
table.code td .no { color: #55eedd; font-weight: bold } /* Name.Constant */
table.code td .nd { color: #555555; font-weight: bold } /* Name.Decorator */
table.code td .ni { color: #880000 } /* Name.Entity */
table.code td .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
table.code td .nf { color: #55eedd; font-weight: bold } /* Name.Function */
table.code td .nl { color: #997700; font-weight: bold } /* Name.Label */
table.code td .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
table.code td .nt { color: #007700 } /* Name.Tag */
table.code td .nv { color: #003366 } /* Name.Variable */
table.code td .ow { color: #000000; font-weight: bold } /* Operator.Word */
table.code td .w { color: #bbbbbb } /* Text.Whitespace */
table.code td .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
table.code td .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
table.code td .mi { color: #6666ff; font-weight: bold } /* Literal.Number.Integer */
table.code td .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
table.code td .sb { background-color: #e0e0ff } /* Literal.String.Backtick */
table.code td .sc { color: #8888FF } /* Literal.String.Char */
table.code td .sd { color: #DD4422 } /* Literal.String.Doc */
table.code td .s2 { background-color: #e0e0ff } /* Literal.String.Double */
table.code td .se { color: #666666; font-weight: bold; background-color: #e0e0ff } /* Literal.String.Escape */
table.code td .sh { background-color: #e0e0ff } /* Literal.String.Heredoc */
table.code td .si { background-color: #eeeeee } /* Literal.String.Interpol */
table.code td .sx { color: #ff8888; background-color: #e0e0ff } /* Literal.String.Other */
table.code td .sr { color: #000000; background-color: #e0e0ff } /* Literal.String.Regex */
table.code td .s1 { background-color: #e0e0ff } /* Literal.String.Single */
table.code td .ss { color: #ffcc88 } /* Literal.String.Symbol */
table.code td .bp { color: #007722 } /* Name.Builtin.Pseudo */
table.code td .vc { color: #ccccff } /* Name.Variable.Class */
table.code td .vg { color: #ff8844 } /* Name.Variable.Global */
table.code td .vi { color: #aaaaff } /* Name.Variable.Instance */
table.code td .il { color: #6666ff; font-weight: bold } /* Literal.Number.Integer.Long */